/* #region PAGE */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F4F4F6;
  overflow-x: hidden;
  position: relative
}

/* #endregion */

/* #region FONTS */

h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 52px;
  color: #FFF;
}

h2 {
  font-family: Quicksand;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  margin: 20px 0 10px 0;
}

h3 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: #FFF;
}

h4 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;

  margin: 0;
}

h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.75);

  margin: 0;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin: 0;
}

a {
  text-decoration: none;
}

/* #endregion */

/* #region BUTTONS */

button {
  height: 44px;

  background-color: #BC9CFF;
  border-radius: 22px;
  border: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 44px;
  text-transform: uppercase;

  color: #FFF;

  display: flex;
  cursor: pointer;
  justify-content: center;
}

button label {
  margin-right: 20px;
  cursor: pointer;
}

button svg {
  margin: 13px;
}

.gradient {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.full-width {
  width: 100%;
}

/* #endregion */

/* #region SPACER */

.spacer {
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 1200px) {
  .spacer {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 1000px) {
  .spacer {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 600px) {
  .spacer {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (max-width: 400px) {
  .spacer {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* #endregion */

/* #region HEADER */

header {
  display: flex;
  flex-direction: column;
}

.header-content {
  margin-left: 14%;
  max-width: 50%;
}

.cta-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .header-content {
    margin-left: 12%;
    max-width: 60%;
  }
}

@media (max-width: 1000px) {
  .header-content {
    margin-left: 10%;
    max-width: 70%;
  }
}

@media (max-width: 800px) {
  .header-content {
    margin-left: 10%;
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .header-content {
    margin-left: 8%;
    margin-right: 8%;
    max-width: 100%;
  }
}

#square {
  width: 100%;
  background: #1F2041;
  z-index: -1;
  position: absolute;
}

#circle {
  border-radius: 100%;
  background: #1F2041;
  z-index: -1;
  position: absolute;
}

/* #endregion */

/* #region BRAND LINE */

.brand-line {
  margin: 2% 10%;
  display: flex;
  align-items: center;
}

.brand-logo {
  width: calc(1.3em + 2.6vw);
  height: calc(1.3em + 2.6vw);
}

.brand-name {
  margin-left: 1%;
  font-family: Nunito;
  font-weight: 900;
  font-size: calc(1em + 2vw);
  color: #FFF;
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .brand-line {
    margin: 3% 8%;
  }
}

@media (max-width: 1000px) {
  .brand-line {
    margin: 4% 6%;
  }
}

@media (max-width: 600px) {
  .brand-line {
    margin: 6% 4%;
  }
}

@media (max-width: 400px) {
  .brand-line {
    margin: 8% 2%;
  }
}

/* #endregion */

/* #region DROPDOWN */

#dropdown {
  width: 320px;
  height: 44px;
  background: #FFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  position: relative;
  cursor: pointer;
}

#dropdown label {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 42px;
  color: rgba(31, 32, 65, 0.75);
  flex-grow: 1;
  margin-left: 15px;
  cursor: pointer;
}

#dropdown svg {
  width: 13px;
  height: 8px;
  margin: 17px;
  color: rgba(31, 32, 65, 0.5);
}

#dropdown.open {
  border-color: rgba(31, 32, 65, 0.5);
  border-radius: 4px 4px 0 0;
}

#dropdown-list {
  position: absolute;
  width: 100%;
  left: -1px;
  top: 42px;
  background: #FFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  /* border-top-width: 0; */
  border-radius: 0 0 4px 4px;
  flex-direction: column;
  display: none;
}

#dropdown.open #dropdown-list {
  display: flex;
}

#dropdown-list a {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 15px;
}

#dropdown-list a:hover {
  background-color: #BC9CFF;
  color: white;
}

@media (max-width: 900px) {
  #dropdown {
    width: 230px;
  }
}

@media (max-width: 700px) {
  #dropdown {
    width: 140px;
  }
}

@media (max-width: 500px) {
  #dropdown {
    width: 100px;
    height: 36px;
  }

  #dropdown label {
    font-size: 11px;
    line-height: 34px;
    margin-left: 10px;
  }

  #dropdown svg {
    width: 13px;
    height: 8px;
    margin: 13px 10px 13px 0;
  }

  #dropdown-list {
    top: 34px;
  }

  #dropdown-list a {
    line-height: 34px;
    font-size: 11px;
    padding-left: 10px
  }
}

/* #endregion */

/* #region CARDS */

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  background: #FFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding: 30px 40px 40px 40px;
  min-height: 245px;
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.card-header {
  display: flex;
}

.card-header-group {
  display: flex;
  flex-direction: column;
  margin-left: 20px
}

.card-header-group h5 {
  margin-top: 5px;
}

.card-description {
  margin: 20px 0;
  flex-grow: 1;
}

@media only screen and (max-width: 420px) {
  .card {
    padding: 20px 30px 30px 30px;
    margin: 20px 0;
  }
}

/* #endregion */

/* #region SOCIAL PROOF */

.sp-star {
  fill: gold;
  width: 1em;
  height: 1em;
}


/* #endregion */

/* #region FOOTER */

footer {
  height: 70px;
  background: #FFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 30px;
  display: flex;
  align-items: center;
}

footer .spacing {
  margin-left: 20px
}

p {
  flex-grow: 1;
}

/* #endregion */

/* #region SVG */

.icon-18 {
  width: 18px;
  height: 18px;
}

.icon-20-18 {
  width: 20px;
  height: 18px;
}

.icon-22 {
  width: 22px;
  height: 22px;
}

.icon-64-48 {
  width: 64px;
  height: 48px;
}

/* #endregion */