
/*********** Global ***********/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.fx-container {
  display: flex;
  align-items: center;
}

.fx-right {
  margin-left: auto;
  order: 99;
}

.evenly-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  width: 20rem;
  min-height: 25rem;
  border: 0.2em solid gray;
}

.hide {
  visibility: hidden;
}

/*********** Header ***********/

header {
  background-color: #14A475;
  color: #fff;
}

/**** Brand ****/
.brand-logo {
  margin-left: 5%; 
  width: 4em;
  height: 4em;
}

.brand-name {
  margin-left: 0.1em;
  font-size: 5em;
  /* font-size: 5vw; */
  font-family: 'Oleo Script', cursive;
  text-shadow: -2px 1px #26282b;
}

@media (max-width: 500px) {
  .brand-name {
    font-size: 1em;
  }
}

/**** Languages ****/

.lang-a, .lang-a:active, .lang-a:hover {
  color: #000;
  text-decoration: none;
}

.selected-lang-a {
  cursor: default;
  font-weight: bold;
}




.dropdown {
  /* background: white; */
  /* border-radius: .125rem; */
  /* border: 1px solid #0079b8; */
  /* color: #0079b8; */
  color: #fff;
  cursor: pointer;
  padding: 12px;
  position: relative;
  width: 7rem;  
}

.dropdown:hover {
  /* background: #e1f1f6; */
  color: #EBECEE;
}

.dropdown-container {
  width: 9em;  
  /* background-color: black;
  color: #fff; */
  /* text-align: center;
  border-radius: 6px;
  padding: 15px 0; */
  
  background: #fff;
  /* height: 200px; */
  border: 1px solid #ccc;
  border-radius: .125rem; 

  box-shadow: 0 1px 0.125rem rgba(115,115,115,.25);

/*   
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem; bootstrap */


  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}

/* .dropdown-container-2 {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  
  padding: .5rem 0;
} */

.dropdown-item {
  /* width: 9em; */
  /* height: 22em; */
  /* color: #fff;
  text-decoration: none; */
}

.dropdown-arrow {
  width: 1rem;
  height: 1rem;
  transform: rotate(90deg);
  color: #fff;
}

/*********** Contats ***********/

.contacts-svg {
  fill: darkslategray;
  width: 10em;
}

/*********** Social Proof ***********/

.sp-star {
  fill: gold;
  width: 1em;
  height: 1em;
}

/*********** Footer ***********/

.socialmedia-svg {
  fill: darkblue;
  width: 10em;
}
