/*********** Global ***********/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.fx {
  display: flex;
  align-items: center;
}

.fx.evenly {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.fx.center {
  justify-content: center;
}

.fx-right {
  margin-left: auto;
  order: 99;
}

.box {
  width: 20rem;
  min-height: 25rem;
  border: 0.2em solid gray;
}

.hide {
  visibility: hidden;
}

h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 52px;

  color: #FFFFFF;
}

h3 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: #FFFFFF;
}

a {
  text-decoration: none;
}

button {
  height: 44px;

  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  border: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 44px;
  text-transform: uppercase;

  color: #FFFFFF;

  display: flex;
  cursor: pointer;
}

button label {
  margin-right: 20px;
  cursor: pointer;
}

button svg {
  margin: 13px;
}


/*********** Header ***********/

header {
  display: flex;
  flex-direction: column;
}

header h1 {
  margin-left: 100px;
}

header h3 {
  margin-left: 100px;
  max-width: 35%;
}

/**** Brand ****/
.brand-logo {
  margin-left: 5%;
  width: 4em;
  height: 4em;
}

.brand-name {
  margin-left: 0.1em;
  font-size: 5em;
  /* font-size: 5vw; */
  font-family: 'Oleo Script', cursive;
  text-shadow: -2px 1px #26282b;
}

@media (max-width: 500px) {
  .brand-name {
    font-size: 1em;
  }
}

#circle {
  border-radius: 100%;
  background: #1F2041;
  z-index: -1;
  position: absolute;
}

/**** Languages ****/

.lang-a,
.lang-a:active,
.lang-a:hover {
  color: #000;
  text-decoration: none;
}

.selected-lang-a {
  cursor: default;
  font-weight: bold;
}

/* #region dropdown */

#dropdown {
  max-width: 320px;
  min-width: 100px;
  width: 50%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  position: relative;
  cursor: pointer;
}

#dropdown label {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 42px;
  color: rgba(31, 32, 65, 0.75);
  flex-grow: 1;
  margin-left: 15px;
  cursor: pointer;
}

#dropdown svg {
  width: 13px;
  height: 8px;
  margin: 18px;
  color: rgba(31, 32, 65, 0.5);
}

#dropdown.open {
  border-color: rgba(31, 32, 65, 0.5);
  border-radius: 4px 4px 0 0;
}

#dropdown-list {
  position: absolute;
  width: 100%;
  left: -1px;
  top: 42px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  /* border-top-width: 0; */
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

#dropdown.open #dropdown-list {
  opacity: 1;
}

#dropdown-list a {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 15px;
}

#dropdown-list a:hover {
  background-color: #BC9CFF;
  color: white;
}

@media (max-width: 700px) {
  #dropdown {
    height: 32px;
  }

  #dropdown label {
    font-size: 11px;
    line-height: 30px;
    margin-left: 10px;
  }

  #dropdown svg {
    width: 13px;
    height: 8px;
    margin: 12px;
  }
}

/* #endregion */

/*********** Contats ***********/

.contacts-svg {
  fill: darkslategray;
  width: 10em;
}

/*********** Social Proof ***********/

.sp-star {
  fill: gold;
  width: 1em;
  height: 1em;
}

/*********** Footer ***********/

.socialmedia-svg {
  fill: darkblue;
  width: 10em;
}



/*********** SVG ***********/
.icon-18 {
  width: 18px;
  height: 18px;
}